.hero {
  background-image: url("/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav,
.hero-main,
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-nav {
  list-style: none;
  padding: 0;
  flex-direction: row;
}

.main-nav li {
  margin: 0 1em;
}

.main-nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}

.main-nav li a:hover {
  color: #7fd7c3;
}

.hero-main {
  height: 600px;
  max-width: 80%;
  margin: 1em auto;
}

.hero-main img {
  width: 100%;
  object-fit: contain;
}

.about {
  background-color: #7fd7c3;
  color: #fff;
  flex-direction: column;
  min-height: 300px;
}

.about h1{
    margin: 1em auto;
    font-weight: 800;
}

.about p{
    max-width: 80%;
    margin: 0 auto;
    font-weight: 600;
}
